@mixin logoType {
    width: 536px;
    height: 42px;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 122.5%;
    letter-spacing: 7px;
    text-transform: uppercase;
    color: #000000;
}

@mixin Menu {
width: 63px;
height: 29px;
margin:10.72px;
margin-top: 0;
font-family: Josefin Sans;
font-style: normal;
font-weight: 100;
font-size: 20px;
line-height: 122.5%;
/* or 29px */
text-transform: capitalize;
color: #000000;

}

@mixin flexBox ($direction, $align) {
    display: flex;
flex-direction: $direction;
align-items: $align;
}

@mixin blob{
    width: 100%;
    height: 100%;

}

@mixin button{
    background-color: #F9D5BD;
    padding: 1rem;
    font-family: 'Josefin Sans';
    font-weight: 900;
    font-size: 1.5rem;
    border-radius: 2rem;
    border: none;
    box-shadow: 4px 3px 13px rgba(0, 0, 0, 0.15);
    
}

button{
    @include button();
}
body{
    padding-left: 174px;
    padding-right: 200px;
    padding-top: 84px;
}

.logotype{
    @include logoType();
}

.header{
    @include flexBox(row, center);
}

.nav{
    @include flexBox(row, flex-end);
    margin-left: 420px;
}

.nav-menu{
    @include Menu();
    
}

.perf{
    width: 230px;
}

.landing{
    display: flex;
justify-content: space-evenly;
align-items: center;
margin-top: 50px;
}

@media (max-width: 800px) {
    .landing {
      flex-direction: column;
      width:auto;
    }
  }
.home-image{
    @include blob();

}

.tagline{
    letter-spacing: 7px;
    text-transform: uppercase;
    font-family: Josefin Sans;
    font-weight: 200;
    margin-bottom: 0;
}

.opening{
    font-family: 'lateef';
    font-size: 72px;
    font-weight: normal;
    line-height: 122.5%;
    margin-top: 5px;
    margin-bottom: 0;
}

.underline{
    position:fixed;
    z-index: -1;
}


.split{
    display:flex;
    flex-direction: row;
  }
  
  .split-col{
    display:flex;
    flex-direction: column;
    

  }
  
  @media only screen 
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
    
    body{
        padding-inline: 1rem;
    }
    .logotype{
        font-weight:900;
    }

    .split, .split-col {
      flex-basis: 100%;
    }
  
    .opening {
      font-size: 3rem;
    }
  
    button{
        max-width: 80%;
        margin-block: 30%;
        margin-inline: 6%;
    }

    .underline{
        max-width:30%;
        position:absolute;
        right:60%;
        top:42%

    }

    .nav{
        display:hidden;
    }

    .fas{
        display:block;
        width:20%;
        
    }

  }